services:
  backend:
    environment:
      - DATABASE_URL=mysql://root:root@db:3306/xtb-analyser
      - CORS_ENABLED=false
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    ports:
      - "3000:3000"
  db:
    image: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=xtb-analyser
    ports:
      - "3306:3306"
    volumes:
      - db-data-mysql:/var/lib/mysql

volumes:
  db-data-mysql:
