{% extends "base.html" %} {% block page_style %}
<style>
  #drop-area {
    border: 2px dashed #ccc;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
  }
  #error-message {
    margin-top: 20px;
    white-space: pre-wrap;
    background-color: #f4f4f4;
    padding: 10px;
  }
  .error-message {
    color: red;
  }
</style>
{% endblock page_style %}

{% block content %} 
  <h2>
    Drop the XLSX file exported from XTB to generate DivTracker import sheet
  </h2>
  <h3>1. Please select a currency of the imported wallet</h3>
  <select name="currency" id="currency">
    <option value="PLN">PLN</option>
    <option value="EUR">EUR</option>
    <option value="USD">USD</option>
  </select>

  <h3>2. Drop a XLSX file exported from XTB</h3>
  <div id="drop-area">Drop your XLSX transaction history file here</div>

  <div id="error-message"></div>
  <h3>The CSV file will be downloaded to your computer. This file can then be imported into the DivTracker application.</h3>
  <script type="module" src="/js/xtb-to-divtracker/main.js"></script>
{% endblock content %}
