name: Build and Push Docker Image

on:
  workflow_call:

permissions:
  contents: read
  id-token: write

concurrency:
  group: "deploy-backend"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: development
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.BUILDER_SERVICE_ACCOUNT }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          token_format: access_token

      - name: Configure Docker to use Google Artifact Registry
        run: |
          gcloud auth configure-docker "europe-west1-docker.pkg.dev"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: gcr.io
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/backend/Dockerfile
          push: true
          tags: |
            ${{ vars.ARTIFACT_REGISTRY_REPO_ID }}/xtb-analyser:latest
            ${{ vars.ARTIFACT_REGISTRY_REPO_ID }}/xtb-analyser:${{ github.sha }}
          cache-from: type=gha,scope=build-backend
          cache-to: type=gha,scope=build-backend,mode=max
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Run database migrations
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          cd ./apps/backend/ && bunx prisma@6 migrate deploy
      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: xtb-analyser-backend
          region: europe-west1
          image: ${{ vars.ARTIFACT_REGISTRY_REPO_ID }}/xtb-analyser:${{ github.sha }}

      - name: Output Service URL
        run: 'echo "Cloud Run Service URL: ${{ steps.deploy.outputs.url }}"'
