name: Update XTB CFD index value

on:
  workflow_dispatch:
  schedule:
    - cron: "0 15 * * *"

permissions:
  contents: read
  id-token: write


jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/379454455141/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider
          service_account: sheet-editor-sa@xtb-cfd-index.iam.gserviceaccount.com
          project_id: xtb-cfd-index
          token_format: access_token
          access_token_scopes: https://www.googleapis.com/auth/spreadsheets

      - name: get data and update spreadsheet
        run: |
          set -o pipefail
          EXPORT_DATE=$(date +"%Y-%m-%d %T")
          echo $EXPORT_DATE
          DATA=$(curl --fail https://xstation5.xtb.com/i18n/_en-core-2.92.0.json | jq -c '.ESMA_DISCLAIMER | to_entries | map({code: .key, v: .value["2"] | scan("\\d+")})')
          INDEX_DATA=$(echo $DATA | jq --arg dt "$EXPORT_DATE" -c 'map([$dt, .code, (.v)])')
          RESULT_MAP=$(echo $DATA | jq 'map({(.code): .v}) | add')

          # get previous values 
          PREVIOUS_RESULT_MAP=$(curl -X GET \
            'https://sheets.googleapis.com/v4/spreadsheets/1azjMl9aYmvfel31wbdwNig9DxWjHJLEt1Ms4_QCxPuM/values/_meta!A1' \
            -H "Authorization: Bearer ${{steps.auth.outputs.access_token}}" \
            -H "Content-Type: application/json" | jq '.values[0][0] | fromjson')

          echo "Differences:"

          echo "$RESULT_MAP" | jq --argjson d1 "$PREVIOUS_RESULT_MAP" '
          [ to_entries[] |
              .key as $k |
              ((.value | tonumber) - (($d1[$k] // 0) | tonumber)) as $diff |
              select($diff != 0) |
              {($k): $diff}
            ] | add // {}
          '

          # update spreadsheets
          PAYLOAD=$(jq -c -n --arg val "$RESULT_MAP" '{values: [[$val]]}')
          curl -X PUT \
            'https://sheets.googleapis.com/v4/spreadsheets/1azjMl9aYmvfel31wbdwNig9DxWjHJLEt1Ms4_QCxPuM/values/_meta!A1?valueInputOption=USER_ENTERED' \
            -H "Authorization: Bearer ${{steps.auth.outputs.access_token}}" \
            -H "Content-Type: application/json" \
            -d "$PAYLOAD"
          curl -X POST \
          'https://sheets.googleapis.com/v4/spreadsheets/1azjMl9aYmvfel31wbdwNig9DxWjHJLEt1Ms4_QCxPuM/values/Arkusz1!A1:append?valueInputOption=USER_ENTERED' \
          -H "Authorization: Bearer ${{steps.auth.outputs.access_token}}" \
          -H "Content-Type: application/json" \
          -d "{
          \"values\": $INDEX_DATA
          }"
